th, td, p, input {
	font: 24px Verdana;
	height: 50px; 					
}
table, th, td 
{
		border: solid thin #DDD;
		border-collapse: collapse;
		padding: 3px 3px;
		text-align: center;
		font: 24px Verdana;
		vertical-align: middle;
}
th {
		font-weight:bold;
}
main-text{
	font: 24px Verdana;
}
button{
	font: 24px Verdana;
	padding: 0px 20px;
	border-radius: 5px;
	border: 2px solid #0;
}
textarea{
	font: 24px Verdana;
	text-align: center;
	vertical-align: middle;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #4682b4;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
